.e-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;

    @include tablet {
        padding: 30px 40px;
    }

    @include mobile {
        padding: 30px 20px;
    }

    span {
        font-size: $font-h1;
        line-height: 60px;
        @include RickText
    }
}