.e-footer {
    background-color: $color-main-background-dark;
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;

    @include tablet {
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
    }


    &__developed,
    &__info,
    &__original {
        color: #fff;
        display: flex;
        flex-direction: column;

        @include tablet {
            align-items: center;
        }

        h3 {
            margin-bottom: 15px;
            font-size: $font-h2;
            font-weight: 700;
        }

        a {
            color: white;
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }
    }

    &__developed {
        div {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            @include tablet {
                justify-content: center;
            }

            label {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 5px;

                p {
                    font-size: $font-p1;
                }

                span {
                    font-weight: 600;
                    font-size: $font-p2;
                }

                img {
                    flex: 1;
                    max-width: 60px;
                }
            }
        }
    }

    &__info {

        div,
        label {
            display: flex;
        }

        div {
            gap: 20px;

            @include tablet {
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        label {
            gap: 5px;
            align-items: center;

            p {
                font-size: $font-p1;
            }

            span {
                font-size: $font-p1;
                font-weight: 600;
            }
        }
    }
}