$color-main-black: rgb(39, 43, 51) !default;
$color-main-blue: rgb(49, 139, 190) !default;
$color-main-green: #7cf448 !default;


$color-main-black-light: #272b3380;

$color-main-background: #e4e4e4;


$color-status-alive: #9fe10a;
$color-status-dead: #d10303;
$color-status-unknown: #3c3c3c;