$phone-screen: 375px;
$mobile-screen: 640px;
$tablet-screen: 1025px;
$desktop-screen: 1444px;

@mixin desktop {
    @media only screen and (max-width:$desktop-screen) {
        @content
    }
}

@mixin mobile {
    @media only screen and (max-width:$mobile-screen) {
        @content
    }
}

@mixin tablet {
    @media only screen and (max-width:$tablet-screen) {
        @content
    }
}

@mixin phone {
    @media only screen and (max-width:$phone-screen) {
        @content
    }
}