.e-home {

    &__title {
        text-align: center;
        padding-top: 40px;
        line-height: 40px;
        font-weight: 700;
        font-size: $font-h1;
        color: $color-main-black;
    }
}