.e-episodeList {

    &__container {
        padding: 20px 60px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        &__card {
            padding: 10px 30px;
            background: $color-main-black;
            width: 100%;
            flex: 1;
            display: flex;
            justify-content: space-between;
            border-radius: 10px;
            color: #fff;
            align-items: center;


            &__name,
            &__info {
                display: flex;
            }

            &__name {
                flex: 1;
                gap: 20px;
            }

            &__info {
                width: 100%;
                max-width: 300px;
                flex: 2;
                gap: 20px;
                justify-content: flex-end;

                span {
                    margin: 0 auto 0 0;
                }
            }
        }
    }
}